{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<nav class="site-nav" id="site-nav">
    <div class="utility-nav site-nav-left">
        <a href="/"><span class="icon-list"></span> <span class="hide-small">See all tutorials</span></a>
    </div>
    <a class="course-logo" href="/"></a>
    <div class="info-panel site-nav-right">
        <a href="/about"><span class="icon-info"></span> <span class="hide-small">About</span></a>
        <form class="site-search">
            <input type="search" id="site-search"/>
            <button type="submit">
                <span class="icon-search"></span>
            </button>
        </form>
    </div>
</nav>
<section id="site-search-results">
</section>

{{! The main content area on the homepage }}
<main class="content" role="main">

        <header class="tag-archive-header">
            <h4><span class="icon-tag"></span>{{tag.name}}</h4>
        </header>

    {{! Each post will be output using this markup }}
    <div class="preview-list">
        {{! Each post will be output using this markup }}
        {{#foreach posts}}

        <div class="post-preview">
            <article class="{{post_class}}">
                <header class="post-header">
                    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                    <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="in "}}</span>
                </header>
                <section class="post-excerpt">
                    <p>{{excerpt}}&hellip;</p>
                </section>
            </article>
        </div>

        {{/foreach}}
        </div>

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>